@using MetaFrm.Control
@using MetaFrm.Maui.Devices
@using MetaFrm.Razor.Essentials
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@inherits BaseComponent

<div class="container">
    <div class="form-outline">
        <h1>@Localization["가입하기"]</h1>
        <p>@Factory.ProjectService.ServiceName</p>
    </div>
    <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6 mb-4">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <EditForm Model="@this.RegisterViewModel" OnValidSubmit="this.HandleValidSubmitAsync" OnInvalidSubmit="this.HandleInvalidSubmit">
                <MetaFrmDataAnnotationsValidator />

                @if (!this.RegisterViewModel.AccessCodeVisible)
                {
                    <div class="row">
                        <FieldControl Label="@Localization["이메일 주소"]">
                            <Control>
                                <InputText id="email" class="form-control col-md-6" placeholder="@($"* {@Localization["이메일 주소"]}")"
                                           @bind-Value="this.RegisterViewModel.Email" @onkeydown="@EmailKeydown"
                                           disabled="@this.RegisterViewModel.AccessCodeVisible" readonly="@this.RegisterViewModel.AccessCodeVisible" />
                                <ValidationMessage For="@(()=>this.RegisterViewModel.Email)" />
                            </Control>
                        </FieldControl>
                        <FieldControl Label="@Localization["별명"]">
                            <Control>
                                <InputText id="nickname" class="form-control" placeholder="@($"* {@Localization["별명"]}")" @bind-Value="this.RegisterViewModel.Nickname" @onkeydown="@NicknameKeydown" disabled="@this.RegisterViewModel.AccessCodeVisible" />
                                <ValidationMessage For="@(()=>this.RegisterViewModel.Nickname)" />
                            </Control>
                        </FieldControl>
                    </div>
                    <div class="row">
                        <FieldControl Label="@Localization["성명"]">
                            <Control>
                                <InputText id="fullname" class="form-control" placeholder="@($"* {@Localization["성명"]}")" @bind-Value="this.RegisterViewModel.Fullname" @onkeydown="@FullnameKeydown" disabled="@this.RegisterViewModel.AccessCodeVisible" />
                                <ValidationMessage For="@(()=>this.RegisterViewModel.Fullname)" />
                            </Control>
                        </FieldControl>
                        <FieldControl Label="@Localization["전화번호"]">
                            <Control>
                                <InputText id="phonenumber" class="form-control" placeholder="@Localization["전화번호"]" @bind-Value="this.RegisterViewModel.PhoneNumber" @onkeydown="@PhonenumberKeydown" disabled="@this.RegisterViewModel.AccessCodeVisible" />
                                <ValidationMessage For="@(()=>this.RegisterViewModel.PhoneNumber)" />
                            </Control>
                        </FieldControl>
                    </div>
                    <div class="row pb-2">
                        <FieldControl Label="@Localization["비밀번호"]">
                            <Control>
                                <InputText id="password" type="password" class="form-control" placeholder="@($"* {@Localization["비밀번호"]}")" @bind-Value="this.RegisterViewModel.Password" @onkeydown="@PasswordKeydown" disabled="@this.RegisterViewModel.AccessCodeVisible" />
                                <ValidationMessage For="@(()=>this.RegisterViewModel.Password)" />
                            </Control>
                        </FieldControl>
                        <FieldControl Label="@Localization["비밀번호 반복"]">
                            <Control>
                                <InputText id="repeatpassword" type="password" class="form-control" placeholder="@($"* {@Localization["비밀번호 반복"]}")" @bind-Value="this.RegisterViewModel.RepeatPassword" @onkeydown="@RepeatPasswordKeydown" disabled="@this.RegisterViewModel.AccessCodeVisible" />
                                <ValidationMessage For="@(()=>this.RegisterViewModel.RepeatPassword)" />
                            </Control>
                        </FieldControl>
                    </div>

                    <div class="row pb-0">
                        <FieldControl Label="" CssClassAppend="py-2 col-md-12" IsColon="false">
                            <Control>
                                <InputCheckbox id="agreelabel" class="form-check-input small" type="checkbox" @bind-Value="this.RegisterViewModel.Agree" disabled="@this.RegisterViewModel.AccessCodeVisible" />
                                <span class="form-check-label small" for="agreelabel">
                                    @Localization["나는 읽고 동의합니다."]
                                    @if (Factory.Platform == DevicePlatform.Web || Factory.Platform == DevicePlatform.WinForms || Factory.Platform == DevicePlatform.WPF)
                                    {
                                        @if (string.IsNullOrEmpty(this.TermsOfServiceUrl))
                                        {
                                            <a href="javascript:void(0)">@Localization["서비스 약관"] </a>
                                        }
                                        else
                                        {
                                            <a href="@this.TermsOfServiceUrl" target="_blank">@Localization["서비스 약관"] </a>
                                        }
                                    }
                                    else
                                    {
                                        @if (string.IsNullOrEmpty(this.TermsOfServiceUrl))
                                        {
                                            <a href="javascript:void(0)">@Localization["서비스 약관"] </a>
                                        }
                                        else
                                        {
                                            <a @onclick="() => this.OnLinkClick(this.TermsOfServiceUrl)" href="">@Localization["서비스 약관"] </a>
                                        }
                                    }
                                    ,
                                    @if (Factory.Platform == DevicePlatform.Web || Factory.Platform == DevicePlatform.WinForms || Factory.Platform == DevicePlatform.WPF)
                                    {
                                        @if (string.IsNullOrEmpty(this.TermsOfServiceUrl))
                                        {
                                            <a href="javascript:void(0)"> @Localization["개인정보 취급방침"].</a>
                                        }
                                        else
                                        {
                                            <a href="@this.PrivacyPolicyUrl" target="_blank"> @Localization["개인정보 취급방침"].</a>
                                        }
                                    }
                                    else
                                    {
                                        @if (string.IsNullOrEmpty(this.TermsOfServiceUrl))
                                        {
                                            <a href="javascript:void(0)"> @Localization["개인정보 취급방침"].</a>
                                        }
                                        else
                                        {
                                            <a @onclick="() => this.OnLinkClick(this.PrivacyPolicyUrl)" href=""> @Localization["개인정보 취급방침"].</a>
                                        }
                                    }
                                </span>
                            </Control>
                        </FieldControl>
                    </div>
                    <div class="row pb-2">
                        <FieldControl Label="" IsColon="false" Value="@("")"></FieldControl>
                        <FieldControl Label="" IsColon="false">
                            <Control>
                                <button type="submit" class="btn btn-primary btn-block w-100" disabled="@(this.RegisterViewModel.AccessCodeVisible || !this.RegisterViewModel.Agree)"><span class="oi oi-pencil" /> @Localization["가입하기"]</button>
                            </Control>
                        </FieldControl>
                    </div>
                }
                else
                {
                    <div class="row pb-0">
                        <FieldControl Label="@Localization["남은 시간"]" CssClassLabel="text-center" IsColon="false">
                            <Control>
                                <div class="text-center">@($"{this.RemainingTime.ToString("hh\\:mm\\:ss")}")</div>
                            </Control>
                        </FieldControl>
                        <FieldControl Label="@Localization["이메일 인증 코드"]" IsColon="false">
                            <Control>
                                <input id="inputaccesscode" type="text" class="form-control @(this.RegisterViewModel.AccessCodeConfirmVisible && !this.RegisterViewModel.IsBusy?"is-valid":"is-invalid")" placeholder="@Localization["액세스 코드"]"
                                       @bind-value="this.RegisterViewModel.InputAccessCode" @bind-value:event="oninput" @onkeydown="@InputAccessCodeKeydown" disabled="@(!this.RegisterViewModel.AccessCodeVisible && !this.RegisterViewModel.IsBusy)" />
                            </Control>
                        </FieldControl>
                    </div>
                    <div class="row">
                        <FieldControl Label="" IsColon="false" Value="@("")"></FieldControl>
                        <FieldControl Label="" IsColon="false">
                            <Control>
                                <button type="button" class="btn btn-primary btn-block w-100" @onclick="OnRegisterClick" disabled="@(!this.RegisterViewModel.AccessCodeConfirmVisible && !this.RegisterViewModel.IsBusy)">@Localization["확인"]</button>
                            </Control>
                        </FieldControl>
                    </div>
                }
            </EditForm>
        </div>
    </div>
</div>